<!DOCTYPE html>
<html>

<head>
    <title>Front Page</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="info">
        {{ message }}
    </div>
    {% endfor %}

    <p>
        You have logged in as {{ session.username }}
    </p>
    <a href="/newrecipe">
        <button type="button">Add new recipe</button>
    </a>
    <div>
        <h1>Recipes</h1>
        {% for recipe in recipes %}
        <h2>{{ recipe['title'] }}</h2>
        <p>{{ recipe['description'] }}</p>
        {% else %}
        <p>Nothing to show here.</p>
        {% endfor %}
    </div>
    <p>
        <a href="/logout">Log out</a>
    </p>
</body>

</html>
